[Unit]
Description=Emulate Xbox 360 wireless controller with Marvo GT-56 bluetooth controller on %I

[Service]
ExecStart=/usr/bin/xboxdrv --silent --quiet --evdev %I --config /etc/marvo-gt-56.xboxdrv --detach-kernel-driver
